<!DOCTYPE html>
<html>
  <head>
    <title>ImHungry</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script> 
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/handlebars-v4.0.2.js"></script>
    <script src="/javascripts/templates.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/users.js"></script>
    <script src="/javascripts/search.js"></script>
    <script src="/javascripts/pantry.js"></script>
    <script src="/javascripts/recipe.js"></script>
    <script src="/javascripts/cookbook.js"></script>
    <script src="/javascripts/hook.js"></script>
    <script src="/javascripts/autocomplete.js"></script>
  </head>
  <body>
    <div id="main-container"></div>
  </body>
</html>
