@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/Brandon_reg.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/Brandon_light.otf');
    font-weight: lighter;
    font-style: normal;
}

@baseFontFamily: 'Brandon Grotesque';
body {
  font-family: 'Brandon Grotesque';
  color: white;
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('yummy-dinner-party.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*#cookbook-view {
  background-size: contain;
  height: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('yummy-dinner-party.jpg') no-repeat center center fixed;
}*/

h1 {
  font-size: 2.2em;
}
a {
  color: white;
  padding-left:0.2em;
}

.nav>li>a{
  font-size: 1.3em;
  padding-top: 1.2em;
}
.header-logo {
  background: url('../imgs/imhungry_logo_white.png'), no-repeat center center fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  height: 2em;
  width: 7em;
  display: inline-block;
  margin-left: 3em;
}
.navbar {
  width: 100%;
}
.nav {
  color: white;
  margin-right: 5em;
}

.hook-box {
  background:rgba(0,0,0,0.55);
  padding: 2em 0;
  margin-top: 8em;
}

#hook-search-form {
  margin: 0 auto;
  width: 8em;
  margin-top: 3em;
  margin-bottom:4em;
}

#serv-size-input {
  color: white;
  width: 4em;
  margin-left:1em;
  border: gray 1px solid;
  background: none;
  border-radius: 3px;
  padding-right: 0.5em;
}

.serving-line {
  margin-top: 1.5em;
  padding-bottom: 2em;
  font-size: 1.3em;
}

.btn {
  border-radius: 3px;
}

#hook-number-input {
  color: black;
  width:2.5em;
  font-size:1.5em;
  padding-top: 0.2em;
  padding-left:0.5em;
  border-radius:3px;
}

#hook-ingr-input {
  color: white;
  width:20em;
  font-size:2em;
  border-radius:3px;
  background: none;
  border: none;
  padding-left:0.5em;

}

input:focus{
    outline: 0;
}

.hook-text-line {
  padding-top:4em;
  margin-bottom:2em;
  margin-left: 18em;
}
.hook-vert-line {
  font-size:2em;
  color:orange;
  vertical-align:top;
}

.hook-text {
  font-size:2em;
  text-align:center;
  padding: 0 0.5em;
}

.welcome {
  padding-left: 3.3em;
  font-size: 1.5em;
}
.wrapper {
  margin: 0 2em;
}
.left{
  background:rgba(0,0,0,0.65);
  min-height: 35em;
  padding-bottom: 4em;
  margin-bottom: 5em;
  padding-left: 1.5em;
  border-radius: 2px;
}

.cookbook-box {
  background:rgba(0,0,0,0.65);
  min-height: 35em;
  padding-bottom: 4em;
  margin-bottom: 5em;
  padding-left: 1.5em;
  border-radius: 2px;
}

#recipe-delete-btn {
  font-size: 1em;
  padding: 0.5em;
  margin-left:1em;
}
.right{
  background:rgba(0,0,0,0.65);
  min-height: 35em;
  padding-bottom: 4em;
  margin-bottom: 5em;
  padding-left: 1.5em;
  border-radius: 2px;

}

.search-row {
  margin-top: 1em;
  margin-right: 2.5em;
  margin-left: 0.5em;
}

.recipe-box {
  background:rgba(0,0,0,0.75);
  padding: 2em 0;
  margin-bottom: 4em;
  min-height:34em;
}

.ingredient {
  margin:10px;
  font-size: 1.3em;
  margin: 0.2em;
  list-style-type: none;
}

#ingredientsList {
  margin-top:2em;
  margin-bottom: 2em;
}

.recipe-url a {
  font-size: 1.5em;
  padding-bottom: 2em;
}

.recipe-view-img{
  width: 22em;
  height: 20em;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.recipe-name {
  font-size: 2.5em;
  line-height: 110%;
  padding: 0 0.4em;
}

#new-ingredient {
  background: none;
  border: gray 1px solid;
  color: white;
}
.serving-label{
  font-size: 1.2em;
  padding: 1em 1.05em;
}

.signin-box {
  background:rgba(0,0,0,0.75);
  padding: 2em 4em 4em 4em;
  margin-top: 8em;
  border-radius: 5px;
}
#signin-form, #register-form {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
#signin-form #signin-form-heading,
#register-form  #register-form-heading{
  margin-bottom: 10px;
}
#signin-form,
#register-form {
  font-weight: normal;
}
#signin-form .form-control,
#register-form .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
#signin-form .form-control:focus,
#register-form .form-control:focus{
  z-index: 2;
}
#signin-form input[type="username"],
#register-form input[type="username"],
#register-form #inputPassword {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#signin-form input[type="password"],
#register-form #inputPasswordConfirm {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#results-list li:hover {
  background: #FFF;
  color: #000;
  cursor: pointer;
}

.cookbookItem {
  display: inline-block;
  width: 16em;
}
.cookbookRecipe {
  display: inline-block;
  width: 16em;
  font-weight: lighter;
}

.recipe {
  display: inline-block;
  width: 16em;
  font-weight: lighter;
}

.recipe:hover {
  background:rgba(0,0,0,0.5);
}


.recipe-image:hover {
  cursor: pointer;
}

.recipe-overlay {
    padding: 1em;
    position:relative;
}
.recipe-overlay:hover {
    background:rgba(0,0,0,0.5);
}

.load-more {
  background-color: orange;
  position: relative;
}

.spinner {
  height: 60px;
  width: 60px;
  margin: 94px auto 0 auto;
  position: relative;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left: 6px solid rgba(0, 174, 239, .15);
  border-right: 6px solid rgba(0, 174, 239, .15);
  border-bottom: 6px solid rgba(0, 174, 239, .15);
  border-top: 6px solid rgba(0, 174, 239, .8);
  border-radius: 100%;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}

@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
