@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/Brandon_reg.otf');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'Brandon Grotesque';
  color: white;
  padding: 50px;
  background: url("yummy-dinner-party.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}


/*div{
    width:35em;
    height:32.625em;
    background-color: #000;
    opacity:0.6;
    filter:alpha(opacity=60);
  }*/

a {
  color: #00B7FF;
}

.wrapper{
   position: relative;
   float: left;
   left: 15%;
   width: 70%;
}
.left{
   position: relative;
   float: left;
   left: 0%;
   width: 50%;
}
.right{
   position: relative;
   float: right;
   right: 0%;
   width: 50%;
}

.ingredient {
  margin:10px;
}

#signin-form, #register-form {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
#signin-form #signin-form-heading,
#register-form  #register-form-heading{
  margin-bottom: 10px;
}
#signin-form,
#register-form {
  font-weight: normal;
}
#signin-form .form-control,
#register-form .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
#signin-form .form-control:focus,
#register-form .form-control:focus{
  z-index: 2;
}
#signin-form input[type="username"],
#register-form input[type="username"],
#register-form #inputPassword {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#signin-form input[type="password"],
#register-form #inputPasswordConfirm {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

