body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  /*background: url("yummy-dinner-party.jpg");*/


}

a {
  color: #00B7FF;
}

.wrapper{
   position: relative;
   float: left;
   left: 15%;
   width: 70%;
}
.left{
   position: relative;
   float: left;
   left: 0%;
   width: 50%;
}
.right{
   position: relative;
   float: right;
   right: 0%;
   width: 50%;
}

.ingredient {
  margin:10px;
}
 
#signin-form {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
#signin-form #signin-form-heading,
#signin-form .checkbox {
  margin-bottom: 10px;
}
#signin-form .checkbox {
  font-weight: normal;
}
#signin-form .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
#signin-form .form-control:focus {
  z-index: 2;
}
#signin-form input[type="username"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#signin-form input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}