@font-face {
    font-family: 'Brandon Grotesque';
    src: url('./ui_elements/fonts/Brandon_reg.otf');
    font-weight: normal;
    font-style: normal;
}

body {
  padding: 50px;
  font: 14px "Brandon Grotesque", Helvetica, Arial, sans-serif;

  /*background: url("yummy-dinner-party.jpg");*/




}

/*div{
    width:35em;
    height:32.625em;
    background-color: #000;
    opacity:0.6;
    filter:alpha(opacity=60);
  }*/

a {
  color: #00B7FF;
}

.wrapper{
   position: relative;
   float: left;
   left: 15%;
   width: 70%;
}
.left{
   position: relative;
   float: left;
   left: 0%;
   width: 50%;
}
.right{
   position: relative;
   float: right;
   right: 0%;
   width: 50%;
}

.ingredient {
  margin:10px;
}
