<!-- Primary author: nlucas -->
<div id="cookbook-view">
{{> header }}
<div class="cookbook">
	<div class="container">
	<div class="search-row">
	<div class="col-md-12 cookbook-box">
              {{#each recipes}}
                {{> cookbookRecipe }}
              {{else}}
                <p><em>Your cookbook is currently empty. Save recipes to stash them here!</em></p>
              {{/each}}
          </div>
    </div>
    </div>
    </div>
</div>