<nav class="navbar navbar-static-top">
    <div class="container ">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href=""><div class="header-logo"></div></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#" id="home-link" >BACK TO HOME</a></li>
<!-- 
          <li><img id="mazzetti" class="navpic" src="img/domm.jpg" alt="Bro Science"></li> -->
        </ul>
      </div>
    </div>
  </nav>


<div class ="container-fluid">
<div class="row">  
  <div class="col-md-4 col-md-offset-4 signin-box" >
  

  <h2 class="text-center">Register</h2>
  <div class="error">
    {{#if error}}
      {{error}}
    {{/if}}
  </div>
<!--   <form id="register-form">
    <div>Username: <input type="text" name="username" required /></div>
    <div>Password: <input type="password" name="password" required /></div>
    <div>Confirm Password: <input type="password" name="confirm" required /></div>
    <input type="submit" />
  </form> -->


  <form id="register-form">
  <div>
    <label for="inputUsername" class="sr-only"><span>Username</span></label>
    <input type="username" id="inputUsername" name="username" class="form-control" placeholder="Username" required autofocus/>
  </div>
  <div>
    <label for="inputPassword" class="sr-only"><span>Password</span></label>
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required/>
  </div>
  <div>
    <label for="inputPasswordConfirm" class="sr-only"><span>Confirm Password</span></label>
    <input type="password" id="inputPasswordConfirm" name="confirm" class="form-control" placeholder="Confirm Password" required/>
  </div>
    <input type="submit" class="btn btn-lg btn-warning btn-block"/>
  </form>
</div>
</div>
</div>