<div id="homepage">
  <h1 class="text-center">imHungry</h1>
  <div id="signin">
  <h2 class="text-center">Sign in</h2>
  <div class="error">
    {{#if error}}
      {{error}}
    {{/if}}
  </div>

  <form id="signin-form">
  <div>
    <label for="inputUsername" class="sr-only"><span>Username</span></label>
    <input type="username" id="inputUsername" name="username" class="form-control" placeholder="Username" required autofocus/>
  </div>
  <div>
    <label for="inputPassword" class="sr-only"><span>Password</span></label>
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required/>
  </div>
    <input type="submit" class="btn btn-lg btn-warning btn-block"/>
  </form>


</div>
<div class="text-center">
  <button id="register-btn" class="btn btn-lg btn-warning">New User?</button>
</div>
</div>