<div id="search">

  <h1>Find recipes:</h1>
  <form id="search-form">
    <div>Serving size: <input type="number" name="size" /></div>
    <div>Additional ingredients: <input type="text" name="additional" /></div>
    <input type="submit" value="Scavenge"/>
  </form>

  <div class="error">
    {{#if error}}
      {{error}}
    {{/if}}
  </div>

  {{#if searched}}
    {{#each recipes}}
      {{> recipe }}
    {{else}}
      <p><em>No recipes found. We suggest that you allow additional ingredients in your search.</em></p>
    {{/each}}
  {{/if}}

</div>