<p>Welcome, {{currentUser}} (<a href="#" id="logout-link">logout</a>)</p>

<div class="wrapper">
    <div class="left">
        <h1>Find recipes.</h1>
        <div class="search">
<!--           <div><label>Serving size</label> <input type="text" name="servingsize"/></div>
          <div><label>Additional ingredients</label> <input type="text" name="addIngredients"/></div> -->
          <div><button id="submit-new-ingredient">Scavenge</button></div>
        </div>
    </div>
    <div class="right">
      <h1>Your pantry.</h1>
      <div class="pantry">

        {{#each ingredient}}
        {{> ingredient}}
        {{else}}
        <p><em>No ingredients yet!</em></p>
        {{/each}}

<!--       <div>

        <button id="submit-new-ingredient">Add</button>
      </div> -->
      <form id="pantry-form">
        <div>Add a new ingredient: <input type="text" id="new-ingredient-input" required /></div>
        <input type="submit" value="Add"/>
      </form>
    </div>
  </div>