<div id="search">
  <h1>Find recipes:</h1>
  <div class="search">
    <label>Serving size</label> <input type="text" name="servingsize"/>
    <label>Additional ingredients</label> <input type="text" name="addIngredients"/>
    <input type="submit" text="Scavenge"/>
  </div>
  <form id="search-form">
    <div>Serving <input type="text" name="username" required /></div>
    <div>Password: <input type="password" name="password" required /></div>
    <div>Confirm Password: <input type="password" name="confirm" required /></div>
    <input type="submit" />
  </form>
</div>